In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("my_dataframe.csv")

In [3]:
df.head()

,latitude,longitude,material_of_building,Type_of_furniture,square_meters,number_of_rooms,year_of_completion,floor,residential_complex,number_of_floors,type_of_building,smart_house,floor_heating,security,cost_in_dollars
0,49.87505,23.92568,brick house,none,84.00,3.0,2020.0,5.0,ЖК Соняшник,1.0,apartment,No,No,No,66500.0
1,49.87515,23.92578,monolithic frame,none,90.00,3.0,2020.0,1.0,ЖК Соняшник,1.0,apartment,No,No,No,70000.0
2,49.87525,23.92588,brick house,none,43.64,1.0,2024.0,5.0,ЖК Соняшник,1.0,apartment,No,No,No,38000.0
3,49.87505,23.92568,brick house,none,88.00,3.0,2021.0,7.0,ЖК Соняшник,1.0,apartment,No,No,No,61000.0
4,49.87506,23.92568,monolithic frame,none,65.00,2.0,2019.0,6.0,ЖК Соняшник,1.0,apartment,No,No,No,52000.0